@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

:root {
  --wenge: #5E4C5A;
  --wintergreenDream: #55917F;
  --greenSheen: #6BAB90;
  --teaGreen: #E1F0C4;
  --lumber: #FFE2D1;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}
